/* Current city container */

main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
  margin-top: 50px;
}

.todayAndDailyContainer {
  height: auto;
  display: grid;
  grid-template-rows: 2fr 1fr;
  gap: 20px;
}

main img {
  width: 60px;
}
.currentCityContainer {
  height: auto;
  display: grid;
  gap: 30px;
  grid-template-rows: 2fr 1fr;
  grid-area: 1 / 1 /2 /2;
}

.mainInfo {
  grid-area: 1 / 1 / 2 / 2;
  background: url("bg-today-large.svg") no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  border-radius: 12px;
}

.weatherAndTemperature {
  display: flex;
  align-items: center;
  gap: 20px;
}

.location {
  font-size: 2rem;
  font-weight: bold;
}

.date {
  font-size: 1.2rem;
}

.weatherAndTemperature img {
  width: 150px;
}

.temperature {
  font-size: 7rem;
  font-weight: 600;
  font-style: italic;
}

.extraInfo {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
  grid-area: 2 / 1 / 3 / 2;
  margin: auto;
}

.extraInfo div {
  background: var(--Neutral800);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  padding: 20px;
}

.feelsLikeStat,
.humidityStat,
.windStat,
.precipitationStat {
  font-size: 2rem;
}

/* Daily forecast */

.dailyForecastContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.weekContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
}

.dayContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background: var(--Neutral800);
  border-radius: 12px;
  padding: 20px;
}

.highLowTemperature {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* Hourly forecast */

.hourlyForecastContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: var(--Neutral800);
  padding: 20px;
  border-radius: 12px;
}

.titleAndDaySelector {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titleAndDaySelector p {
  font-size: 1.2rem;
}

.daySelector {
  background: var(--Neutral700);
  border: none;
  color: white;
  padding: 20px;
  border-radius: 12px;
}

.weatherAndTime,
.hourForecast {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hourForecast {
  height: 100%;
  background: var(--Neutral700);
  border-radius: 12px;
  padding: 0 20px;
}

.weatherAndTime p {
  font-size: 1.5rem;
}

.weatherAndTime {
  gap: 10px;
}

select{
  font-size: 1rem;
}