.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.unitsBtn {
  position: relative;
  display: flex;
  gap: 5px;
  background: var(--Neutral800);
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.dropdownContent {
  display: none;
  width: 200px;
  position: absolute;
  padding: 15px;
  margin-top: 10px;
  background: var(--Neutral800);
  border-radius: 6px;
  right: 0;
  z-index: 999;
}

.dropdownOpen {
  display: block;
}

.dropdownContent h4 {
  margin-bottom: 10px;
}

fieldset {
  border: none;
  border-bottom: 1px solid var(--Neutral700);
  padding-bottom: 10px;
  margin-bottom: 10px;
}

legend {
  padding: 10px 0;
  color: var(--Neutral600);
}

fieldset div {
  display: flex;
  flex-direction: column;
}

fieldset label {
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
}

label:hover {
  background: var(--Neutral700);
}
