h1 {
  color: white;
  font-family: var(--Header-font);
  font-size: 3rem;
  margin-top: 30px;
}

.searchSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.searchBarContainer {
  width: 40%;
  height: 40px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 80px;
  gap: 10px;
}

.searchBarContainer input {
  width: 100%;
  height: 40px;
  display: flex;
  border: none;
  border-radius: 6px;
  background: var(--Neutral800);
  padding-left: 40px;
  color: white;
}

.searchBarContainer img {
  position: absolute;
  left: 10px;
  top: 10px;
  bottom: 10px;
}

.searchBarContainer button {
  border: none;
  border-radius: 6px;
  background: var(--Blue500);
  color: white;
}

.searchDropdown {
  width: 100%;
  position: absolute;
  grid-area: 2/ 1 / 3 / 2;
  border: none;
  border-radius: 6px;
  background: var(--Neutral800);
  margin-top: 10px;
  color: white;
}
.searchDropdown p {
  display: flex;
  align-items: center;
  height: 30px;
  border-radius: 6px;
  padding: 5px;
  margin: 5px;
}

.searchDropdown p:hover {
  background: var(--Neutral700);
  box-shadow: 1px 1px 0px var(--Neutral600);
}
