h1 {
  color: white;
  font-family: var(--Header-font);
  font-size: 3rem;
  margin-top: 30px;
}

.searchSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.searchBarContainer {
  width: 40%;
  height: 40px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 100px;
  gap: 10px;
}

.searchBarContainer input {
  width: 100%;
  height: 50px;
  display: flex;
  border: none;
  border-radius: 12px;
  background: var(--Neutral800);
  padding-left: 40px;
  color: white;
}

.searchBarContainer img {
  position: absolute;
  left: 10px;
  top: 15px;
  bottom: 10px;
}

.searchBarContainer button {
  border: none;
  border-radius: 12px;
  background: var(--Blue500);
  font-size: 1.2rem;
  
  color: white;
}

.searchDropdown {
  display: none;
  width: 100%;
  position: absolute;
  top: 40px;
  left: 0;
  border: none;
  border-radius: 12px;
  background: var(--Neutral800);
  margin-top: 10px;
  color: white;
  z-index: 9999;
}
.searchDropdown p {
  display: flex;
  align-items: center;
  height: 30px;
  border-radius: 12px;
  padding: 5px;
  margin: 5px;
}

.searchDropdown p:hover {
  background: var(--Neutral700);
  box-shadow: 1px 1px 0px var(--Neutral600);
}

.searchDropdownOpen {
  display: block;
}
